/*** FONT - POPPINS ***/
$font-poppins-light: 'Poppins Light', sans-serif;
$font-poppins-regular: 'Poppins Regular', sans-serif;
$font-poppins-bold: 'Poppins Bold', sans-serif;
$font-poppins-ext: 'Poppins ExtraBold', sans-serif;
$font-poppins-black: 'Poppins Black', sans-serif;

/*** COLORS ***/
$corporate-1: #1DC3B3;
$corporate-2: #EFF3F6;
$aquamarine: #189E90;
$aquamarine-light: #AEDAD7;
$black: #333333;
$white: #FFFFFF;